* {
    box-sizing: border-box;
}

body {
background-color: orange;
}

h1{
    padding: 20px;
    text-shadow: 2px 2px;
}

img {
    border-radius: 8px;
}




/*#inputBox{
    height: 100px;
    width: 500px;
}
.col-md-12{
    padding-bottom: 10px;
}

#burgerName {
clear:both;
   height: 400px;
   width: 300px;
}

#devBtn {
    width: 100px;
    height: 60px;

}
button#devBtn{
    margin-top: 150px;
}*/












